/.vscode
/.cache
/build
/.sconsign.dblite
/thirdparty/ffmpeg/lib

**/*.dll
**/*.so
**/*.lib
**/*.dylib
**/*.exp
**/*.o
**/*.obj
**/*pdb

**/*.dll.*
**/*.so.*
**/*.lib.*
**/*.dylib.*
**/*.exp.*
**/*.pdb.*
